<div class="flex flex-col justify-between h-[calc(100vh-80px)] border-t border-white overflow-y-auto" >
  <div class="dark:text-gray-100">
    <div class="p-2 md:p-6 flex flex-col gap-2">
      <p class="text-white text-xl font-bold">General</p>
      @for (item of generalItems; track $index) {
        <app-sidebar-item [item]="item"/>
      }
    </div>

    <app-separator/>

    <div class="p-2 md:p-6 flex flex-col gap-2">
      <p class="text-white text-xl font-bold">Tool</p>
      @for (item of toolItems; track $index) {
        <app-sidebar-item [item]="item"/>
      }
    </div>

    <app-separator/>

    <div class="p-2 md:p-6 flex flex-col gap-2">
      <p class="text-white text-xl font-bold">Support</p>
      @for (item of supportItems; track $index) {
        <app-sidebar-item [item]="item"/>
      }
    </div>
  </div>

</div>
